* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: ghostwhite;
}

.mainBody {
    display: flex;
    justify-content: center;
    align-content: center;
}

#highscore {
    color: indigo;
    float: left;
    padding: 8px;
}

#timer {
    color: indigo;
    float: right;
    padding: 8px;
}

.container {
    /* width: 40vw; */
    padding: 10px;
}

.buttons-haus {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    width: 40vw;

}

#questions {
    padding-bottom: 10px;
    padding-bottom: 10px;
}

.btn {
    background-color: indigo;
    color: ghostwhite;
    border-radius: 5px;
    border: 1px solid rgb(46, 0, 78);
    text-align: left;
    padding: 10px;

}

.btn:hover {
    opacity: 0.6;
    box-shadow:  1px 1px 1px rgb(46, 0, 78);
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

main {
    display: block;
}

.answer-status {
    color: dimgray;
    font-style: italic;
    border-bottom: 3px solid dimgray;
    max-width: 25vw;
}

h2 {
    padding: 10px;
}
 li {
    background-color: rgba(76, 0, 130, 0.301);
    padding: 3px;
 }
